@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --bg-colour: #f1f1f1;
  --nav-bg-colour: #1c181d;
  --nav-child-bg-colour: #322f33;
  --nav-child-hover-colour: #616161;
  --nav-child-font-colour: #656266;
  --main-font-colour-dark: #222222;
  --main-font-colour-mid: #616161;
  --main-font-colour-light: #f8f8f8;
  --stroke-dark: #616161;
  --stroke-mid: #e1e1e1;
  --stroke-dark: #dbdbdb;
  --main-hover: #f1f1f1;
  --main-pressed: #f0f0f0;
  --main-focused: #005bd3;
  --profile-bg: #2cffa0;
  --profile-text: #005730;
  --transition1: all 0.2s ease-in-out;
  --transition2: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--main-font-colour-dark);
}

body {
  background-color: var(--bg-colour);
}

/* Components */
.container {
  padding: 0.8rem 1rem;
}

.material-symbols-outlined {
  font-weight: 300;
  color: #b4b4b4;
  cursor: pointer;
}

p {
  font-size: 0.9rem;
}

/*  */

/* Nav */
nav {
  background-color: var(--nav-bg-colour);
  transition: var(--transition1);
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--main-font-colour-dark);
}

nav .notification-dropdown {
  position: absolute;
  right: 1rem;
  background-color: var(--main-font-colour-light);
  z-index: 1;
  width: 85%;
  border-radius: 10px;
  margin-top: 1.2rem;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.08);
  display: none;
}

.notification-dropdown.dropdown-show {
  display: block;
}

nav .notification-dropdown p {
  font-weight: 600;
}

nav .notification-dropdown-top {
  margin-top: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .alert-icons-con {
  display: flex;
  gap: 1.5rem;
}

.unread {
  background: url(https://crushingit.tech/hackathon-assets/icon-filter.svg)
    no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(100%);
}

.seen {
  background: url(https://crushingit.tech/hackathon-assets/icon-check-empty-circle.svg)
    no-repeat;
  background-size: contain;
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(100%);
}

.notification-dropdown-bottom {
  background-color: #ebebeb;
  padding: 0.7rem;
  margin-top: 0.6rem;
  border-radius: 10px;
  text-align: center;
}

nav .profile-dropdown {
  position: absolute;
  right: 1rem;
  background-color: var(--main-font-colour-light);
  z-index: 1;
  width: 85%;
  border-radius: 10px;
  margin-top: 1.2rem;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.08);
  display: none;
}

.profile-dropdown.dropdown-show {
  display: block;
}

nav section {
  padding: 0rem 0.8rem 1rem;
}

nav .profile-dropdown article {
  margin-top: 1.3rem;
  transition: var(--transition1);
  cursor: pointer;
}

nav .profile-dropdown article:hover {
  background-color: #ebebeb;
  padding: 0.4rem;
  border-radius: 10px;
}

nav .profile-dropdown-top-top,
nav .profile-dropdown-top .top-top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .top-top-left > p {
  margin-left: 0.7rem;
  font-weight: 600;
}

nav .profile-dropdown-top .check {
  color: var(--main-font-colour-dark);
}

nav .profile-dropdown-top-bottom {
  display: flex;
  align-items: center;
}

nav .profile-dropdown-top-bottom .store {
  background: url(https://crushingit.tech/hackathon-assets/icon-store.svg)
    no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1%);
}

nav .profile-dropdown-top-bottom > p {
  margin-left: 0.7rem;
}

nav .profile-dropdown-middle {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

nav .profile-dropdown-bottom p:first-child {
  font-weight: 600;
}

nav .logo {
  background: url(https://crushingit.tech/hackathon-assets/shopify-icon.svg)
    no-repeat left;
  background-size: contain;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

nav .inner-nav,
.notification-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav input {
  background-color: var(--nav-child-bg-colour);
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--nav-child-font-colour);
  width: 13.5rem;
  margin-left: 0.3rem;
  padding: 0.6rem 0 0.6rem 2.7rem;
  color: var(--main-font-colour-light);
}

nav input::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  color: #b4b4b4;
}

nav input:focus {
  border: 1px solid var(--stroke-dark);
}

nav .input {
  position: relative;
}

nav .input .search-icon {
  position: absolute;
  transform: translate(-50%, 25%);
  left: 1.3rem;
}

nav .notification-profile span {
  margin-right: 0.7rem;
  font-weight: light;
  color: var(--main-font-colour-light);
}

nav .notification-profile .user {
  display: none;
}

nav .profile {
  background-color: var(--profile-bg);
  color: var(--profile-text);
  padding: 0.5rem 0.4rem;
  border-radius: 7px;
  cursor: pointer;
}
/* Nav ends */

/* Main */
/* Select plan */
main {
  margin-top: 2rem;
}

main p {
  padding-right: 1.8rem;
}

main .trial {
  background-color: var(--main-font-colour-dark);
}

main .text-close {
  display: flex;
  background-color: var(--main-font-colour-dark);
  color: var(--main-font-colour-light);
}

main .text-close .close {
  color: var(--main-font-colour-light);
  margin-top: 0.5rem;
}

main .trial a button {
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}
/* Select plan ends */

/* Set-up guide */
main .setup-guide-out {
  margin-top: 1rem;
  background-color: var(--main-font-colour-light);
  border-top: 0.1px solid var(--stroke-mid);
  border-bottom: 0.1px solid var(--stroke-mid);
  overflow: hidden;
  transition: var(--transition1);
}

main .setup-guide-in {
  background-color: var(--main-font-colour-light);
}

.show {
  overflow: visible;
  transition: overflow 0.3s ease-in-out;
}

main .setup-guide-out .setup-guide-top .progress-text {
  margin-top: 1rem;
  display: flex;
}

.setup-title {
  display: flex;
  justify-content: space-between;
}

.setup-title .more {
  color: var(--main-font-colour-dark);
  transition: var(--transition2);
}

.rotate {
  transform: rotate(180deg);
}

.progress-container {
  position: relative;
  margin-left: -1rem;
  max-width: 100%;
  width: 5rem;
}

.progress-container::before {
  content: '';
  background-color: #d1d1d1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.progress {
  background-color: var(--main-font-colour-dark);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  border-radius: 3px;
  transition: 0.4s ease;
}

.setup-guide-bottom {
  margin-top: 2rem;
}

.step {
  margin-inline: -0.5rem;
  margin-bottom: 1.5rem;
  /* height: 2.5rem; */
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
  transition: var(--transition2);
}

/* .step:last-child .step-content {
  overflow: visible;
} */

.opened-step {
  background-color: #eee;
}

.step-inner {
  display: flex;
  padding: 0.5rem 0 0.5rem 0.5rem;
  position: relative;
}

.step .product-con {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.step-inner .checkbox-con {
  height: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5;
  top: 0;
  transform: translate(-30%, 15%);
}

.step-inner .checkbox-con .checkbox {
  background: url(https://crushingit.tech/hackathon-assets/icon-dashed-circle.svg)
    no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  filter: invert(50%);
  transition: all 0.3s ease;
}

.checkbox.active {
  color: #1c181d;
}

/* .step-inner input {
  align-self: flex-start;
}

.step-inner input[type='checkbox'] {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px dashed #aeaeae;
  border-radius: 50%;
} */

.step .step-content {
  align-self: flex-start;
  padding: 0.2rem 0 0.3rem 0.3rem;
  margin-left: 2.2rem;
}

.step-inner .step-content button {
  padding: 0.6rem 0.9rem;
  /* margin-bottom: 1rem; */
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid var(--main-font-colour-dark);
  background-color: var(--main-font-colour-dark);
  color: var(--main-font-colour-light);
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

.step-inner .step-content button::before {
  content: '';
  position: absolute;
  inset: -4px;
  background: transparent;
  border-radius: inherit;
  border: 2px solid var(--main-font-colour-dark);
  z-index: 1;
}

.step-inner .step-content button:active {
  transform: scale(0.8rem);
}

.step-inner .step-content img {
  display: none;
}

.step-inner .step-content > * + * {
  margin-top: 1rem;
}

.step-inner .step-content a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-focused);
}
