@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --bg-colour: #f1f1f1;
  --nav-bg-colour: #1c181d;
  --nav-child-bg-colour: #322f33;
  --nav-child-hover-colour: #616161;
  --nav-child-font-colour: #656266;
  --main-font-colour-dark: #222222;
  --main-font-colour-mid: #616161;
  --main-font-colour-light: #f8f8f8;
  --main-colour4: #b3b3b3;
  --stroke-dark: #616161;
  --stroke-mid: #e1e1e1;
  --stroke-dark: #dbdbdb;
  --main-hover: #f1f1f1;
  --main-pressed: #f0f0f0;
  --main-focused: #005bd3;
  --profile-bg: #2cffa0;
  --profile-text: #005730;
  --transition1: all 0.2s ease-in-out;
  --transition2: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--main-font-colour-dark);
}

body {
  background-color: var(--bg-colour);
}

/* Components */
.container {
  padding: 0.8rem 1rem;
}

.material-symbols-outlined {
  font-weight: 300;
  color: #f3f3f3;
  cursor: pointer;
}

button {
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

p {
  font-size: 0.9rem;
}

/*  */

/* Nav */
nav {
  background-color: var(--nav-bg-colour);
  transition: var(--transition1);
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--main-font-colour-dark);
}

.notification-dropdown.dropdown-show,
.profile-dropdown.dropdown-show {
  display: block;
}

nav .notification-dropdown p {
  font-weight: 600;
}

nav .notification-dropdown-top {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .alert-icons-con {
  display: flex;
  gap: 1.5rem;
}

.unread {
  filter: invert(100%);
}

.seen {
  filter: invert(100%);
}

.unread:focus,
.seen:focus {
  border-radius: 2px solid var(--main-focused);
}

.notification-dropdown-bottom {
  background-color: #ebebeb;
  padding: 0.7rem;
  margin-top: 0.6rem;
  border-radius: 10px;
  text-align: center;
}

nav .profile-dropdown,
nav .notification-dropdown {
  position: absolute;
  right: 1rem;
  background-color: var(--main-font-colour-light);
  z-index: 1;
  width: 85%;
  border-radius: 10px;
  margin-top: 1.2rem;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.08);
  display: none;
}

nav section {
  padding: 0rem 0.8rem 1rem;
}

nav ul li {
  list-style: none;
  margin-top: 1rem;
  font-size: 0.85rem;
}

nav .profile-dropdown ul li {
  transition: var(--transition1);
  cursor: pointer;
}

nav .profile-dropdown ul li:hover {
  background-color: #ebebeb;
  padding: 0.4rem;
  border-radius: 10px;
}

nav ul li button:focus {
  border: 2px solid var(--main-focused);
  border-radius: 5px;
}

nav .profile-dropdown-top .top-top button,
nav .profile-dropdown-top-top .top-top .top-top-left,
nav .profile-dropdown-top-bottom button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .profile-dropdown-top .top-top button {
  width: 100%;
}

nav .profile-dropdown-top-top .top-top .top-top-left {
  gap: 0.5rem;
}

nav .top-top .top-top-left > p {
  font-weight: 600;
}

nav .profile-dropdown-top .check {
  color: var(--main-font-colour-dark);
}

nav .profile-dropdown-top-bottom button .store {
  width: 1.5rem;
  filter: invert(1%);
}

nav .profile-dropdown-top-bottom button > p {
  margin-left: 0.7rem;
}

nav .profile-dropdown-middle {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

nav .profile-dropdown-bottom button p:first-child {
  font-weight: 600;
  text-align: left;
}

/*  */
nav .logo {
  width: 2.4rem;
  cursor: pointer;
}

nav .logo-mobile {
  display: block;
}

nav .logo-laptop {
  display: none;
}

nav .inner-nav,
.notification-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav input {
  background-color: var(--nav-child-bg-colour);
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--nav-child-font-colour);
  width: 13.5rem;
  margin-left: 0.3rem;
  padding: 0.6rem 0 0.6rem 2.7rem;
  color: var(--main-font-colour-light);
}

nav input::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  color: #b4b4b4;
}

nav input:hover {
  border: 1px solid var(--stroke-dark);
}

nav input:focus {
  border: 2px solid var(--stroke-mid);
}

nav .input {
  position: relative;
}

nav .input .search-icon {
  position: absolute;
  transform: translate(-50%, 25%);
  left: 1.7rem;
}

nav .notification-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .notification {
  padding: 0.3rem;
}

nav .notification-profile button {
  font-weight: light;
  color: var(--main-font-colour-light);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

nav .notification-profile button:hover,
nav .notification-profile button:focus {
  background: var(--nav-child-hover-colour);
  outline: none;
}

nav .notification-profile button:nth-child(2):focus {
  outline: 3px solid var(--main-font-colour-mid);
}

nav .notification-profile .user {
  display: none;
}

nav .profile {
  background-color: var(--profile-bg);
  color: var(--profile-text);
  padding: 0.5rem 0.4rem;
  border-radius: 7px;
  cursor: pointer;
}
/* Nav ends */

/* Main */
/* Select plan */
main {
  margin-top: 2rem;
}

main p {
  padding-right: 1.8rem;
}

main .trial {
  background-color: var(--main-font-colour-dark);
}

main .trial-inner {
  display: flex;
}

main .text-button {
  background-color: var(--main-font-colour-dark);
  color: var(--main-font-colour-light);
}

main .trial a button {
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

main .trial-inner .close:focus {
  border: 2px solid var(--stroke-mid);
}
/* Select plan ends */

/* Set-up guide */
main .setup-guide-out {
  margin-top: 1rem;
  background-color: var(--main-font-colour-light);
  border-top: 0.1px solid var(--stroke-mid);
  border-bottom: 0.1px solid var(--stroke-mid);
  overflow: hidden;
  transition: var(--transition1);
}

main .setup-guide-in {
  background-color: var(--main-font-colour-light);
}

main .setup-guide-out.show {
  overflow: visible;
  transition: overflow 0.3s ease-in-out;
}

main .setup-guide-out .setup-guide-top .progress-text {
  margin-top: 1rem;
  display: flex;
}

.setup-title {
  display: flex;
  justify-content: space-between;
}

.setup-title .more span {
  color: var(--main-font-colour-dark);
  transition: var(--transition2);
}

.setup-title .more span:hover {
  background: #ebebeb;
  border-radius: 5px;
}

.setup-title .more:focus {
  outline: none;
  border: 2px solid var(--main-focused);
}

.rotate {
  transform: rotate(180deg);
}

.progress-container {
  position: relative;
  margin-left: -1rem;
  max-width: 100%;
  width: 5rem;
}

.progress-container::before {
  content: '';
  background-color: #d1d1d1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.progress {
  background-color: var(--main-font-colour-dark);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  border-radius: 3px;
  transition: 0.4s ease;
}

.setup-guide-bottom {
  margin-top: 2rem;
}

.step {
  margin-inline: -0.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
  transition: var(--transition2);
}

.step:hover {
  background-color: #eee;
}

.step:focus {
  border: 2px solid var(--main-focused);
}

.opened-step {
  background-color: #eee;
}

.step-inner {
  padding: 0.5rem 0 0.5rem 0.5rem;
  position: relative;
}

.step .product-con {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.step-inner .checkbox-con {
  height: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5;
  top: 0;
  transform: translate(-30%, 15%);
}

.step-inner .checkbox-con .checkbox {
  width: 100%;
  height: 100%;
  filter: invert(50%);
  transition: all 0.3s ease;
}

.step-inner > button:focus {
  border: 2px solid var(--main-focused);
  border-radius: 50%;
}

.checkbox.active {
  color: #1c181d;
}

.step .step-content {
  padding: 0.3rem 0 0.3rem 0.3rem;
  margin-left: 2.2rem;
}

.step .step-content .step-content-texts > * + * {
  margin-top: 1.5rem;
}

.step-inner .step-content button {
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid var(--main-font-colour-dark);
  background-color: var(--main-font-colour-dark);
  color: var(--main-font-colour-light);
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.step-inner .step-content button::before {
  content: '';
  position: absolute;
  inset: -4px;
  background: transparent;
  border-radius: inherit;
  border: 2px solid var(--main-font-colour-dark);
  z-index: 1;
}

.step-inner .step-content button:active {
  transform: scale(0.8rem);
}

.step-inner .step-content button:focus {
  border: 3px solid var(--main-focused);
}

.step-inner .step-content img {
  display: none;
}

.step-inner .step-content > * + * {
  margin-top: 1rem;
}

.step-inner .step-content a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-focused);
}

button:active {
  transform: scale(0.98);
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  p,
  article {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  nav .logo {
    background: no-repeat left;
    background-size: contain;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
  }

  nav .logo-mobile {
    display: none;
  }

  nav .logo-laptop {
    display: block;
  }

  nav .profile-dropdown,
  nav .notification-dropdown {
    width: 21%;
  }

  nav .notification-profile {
    gap: 0.5rem;
  }

  nav .notification-profile button {
    background: #303030;
  }

  nav .user-con {
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
  }

  nav .notification {
    background: #303030;
    color: #b6b6b6;
    padding: 0.23rem;
    border-radius: 5px;
  }

  nav .notification:hover,
  nav .user-con:hover,
  nav .notification:active,
  nav .user-con:active {
    background: var(--main-font-colour-mid);
  }

  nav .notification:focus,
  nav .user-con:focus {
    outline: none;
  }

  nav .notification-profile .user {
    display: block;
    padding: 0.4rem 0.5rem;
    color: #b6b6b6;
    font-size: 0.9rem;
  }

  nav input {
    width: 30rem;
  }

  main {
    width: 60%;
    margin: 3rem auto;
  }

  main .trial {
    border-radius: 7px;
  }

  main .trial-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .text-button {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
  }

  main .trial a button {
    margin-top: 0;
  }

  main .setup-guide-out,
  main .setup-guide-in {
    border-radius: 15px;
  }

  main .setup-guide-in {
    border: 0.1px solid var(--stroke-mid);
    background-color: var(--main-font-colour-light);
  }

  .step-inner .step-content {
    display: flex;
    justify-content: space-between;
  }

  .step .step-content .step-content-texts {
    width: 70%;
  }

  .step-inner .step-content button {
    font-size: 0.87rem;
    padding: 0.5rem 0.7rem;
  }

  .step-inner .step-content img {
    display: block;
    margin-top: 1.25rem;
  }
}

/* .step-inner input {
  align-self: flex-start;
}

.step-inner input[type='checkbox'] {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px dashed #aeaeae;
  border-radius: 50%;
} */
